main{
    min-height: 80vh;
}
footer{
    text-align: center;
}
.rating span{
    margin:0.1rem;
}
.rating svg{
    color:#f8e825;
}
.rating-text{
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 0.5rem;
}
.product-title{
    height:2.5em;
    overflow: hidden;
    text-overflow: ellipse;
    white-space: nowrap;
}
.product-img{
    height: 45vh;
}